.title {
  background-color: #F34B4B;
  height: 10%;
}
  
.user {
  padding-top: 15px;
  height: 30%;
  margin-top:5%;
  font-size: 128px;
  margin-bottom: 5px;
}

.brand {
  padding-top: 15px;
  padding-left: 25px;
  font-size: 160%;
  font-family: 'Major Mono Display', monospace;
}

.emName {
  padding-top: 5px;
  font-family: 'Playfair Display', serif;
}

.sider {
  min-width: 215px !important;
}
