.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.headerImage {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.modules {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ctitle {
    background-color: #F34B4B;
    height: 10%;
}
    
.cuser {
padding-top: 15px;
height: 30%;
margin-top:5%;
font-size: 128px;
}

.cbrand {
padding-top: 15px;
padding-left: 25px;
font-size: 160%;
font-family: 'Major Mono Display', monospace;
}

.cemName {
padding-top: 5px;
font-family: 'Playfair Display', serif;
}

.csider {
min-width: 215px !important;
}

.csideMenu .ant-menu .ant-menu-item > *:first-child {
font-family: 'Playfair Display', serif;
}