* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .cmod-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: rgb(207, 205, 205);
    background-position: center;
    background-size: cover;
  }
  
  .cmod-box {
    position: relative;
    width: 87.5%;
    height: 87.5vh;
    background: rgb(207, 205, 205);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-box {
    position: relative;
    width: 84.5%;
    height: 74vh;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: static;
    justify-content: center;
    align-items: center;
    --scale-factor: 1.0;
  }
  
  h2 {
    font-size: 2em;
    color: white;
    text-align: bottom;
  }

  
  
  .inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
  }
  
  .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
  }
  
  input:focus ~ label {
    top: -5px;
  }
  input:valid ~ label {
    top: -5px;
  }
  
  .inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
  }
  
  .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
  }
  
  .forget {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px;
    font-size: 0.9em;
    color: #fff;
  }
  
  .forget label:nth-child(2) {
    order: 1;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label input[type="checkbox"] {
    margin-right: 6px;
  }
  
  .forget label a {
    color: #fff;
    text-decoration: none;
  }
  
  .forget label a:hover {
    text-decoration: underline;
  }
  
  /* .course-button {
    width: 10%;
    height: 40px;
    border-radius: 40px;
    background: #5d2727;
    border: none;
    outline: black;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
  } */
  
  .register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
  }
  
  .register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  
  .register p a:hover {
    text-decoration: underline;
  }

  .back-link {
    display: flex;
    align-items: center;
  }
  
  .back-link h2 {
    margin: 0 auto; /* This centers the h2 */
  }
  
  .back-link a {
    margin-right: 0; /* This pushes the Link to the left */
  }

 
  